# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app


# dir 
.vscode/*

back/*

# proto files
cyber/proto/linux/*
cyber/proto/win/*
src/examples/proto/linux/**
src/examples/proto/win/**

build/*
tmp/*


# other files
BUILD
